$font-stack:    Helvetica, sans-serif;
$primary-background-color: #fff;
$secondary-background-color: #ecf0ea;


.stockHeader {
  height: 12em;
  color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.stockHeader > p {
  height: 3em;
  background: #D8DED4;
  word-wrap: break-word;
  width: 30%;
  margin: 0 auto;
  color: #000;
  font-size: 16px;
}

.celHeader {
  color: #000;
  font-weight: bold;
  line-height: 30px;
  text-shadow: 2px 0 #000;
  letter-spacing: 3px;
  margin-top: 0px;
  width: 100%;
  font-size: 30px;
  align-self: end;
}

.heroHeader {
  height: 0px;
  color: #000;
  padding-top: 2%;
  margin-bottom: 10%;
}

.hero {
  position: relative;
  background: $secondary-background-color;
  text-align: center;
  height: 45em;
}
.heroContent {
  background: $primary-background-color;
}

.card-row {
  display: flex;
  justify-content: space-between;
  background: $secondary-background-color;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background: $primary-background-color;
  padding: 10px;
}

.selectedCard {
  box-shadow: 0px 2px 4px 5px #012c0b;
  max-width: 200px;
  text-align: center;
  font-family: arial;
  background: $primary-background-color;
  padding: 10px;
}

.card h5 {
  margin: 0;
}

.card p {
  margin: 0;
  font-size: 12px;
}

.payImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  max-height: 100px;
  display:inline-block;
  width: 20%;
  padding-top: 2%;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 400px;
  width: 70%;
  margin-left: 10%;
}

.heroFloatLeft {
  width: 55%; 
  float:left;
}

.heroFloatRight {
  width: 45%; 
  float:right;
  margin-top: 50px;
}

.heroList {
  margin: 0;
  list-style-image: url('/images/globe.svg');
  display: table-cell;
  text-align: left;
  padding-right: 25%;
  padding-bottom: 5%;
}

.heroDetails {
  position: absolute;
  background: $primary-background-color;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  font-size: 14px;
  padding: 0 0.5em;
}

.purchaseButton {
  background-color: #E56142;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin-left: 2px;
  cursor: pointer;
  display: inline;
  border-right: 1px solid #fff;

}

.subscribeButton {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 4px;
  color: #E56142;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin-right: 1px;
  margin-left: 2px;
  cursor: pointer;
  display: inline;
  border: 1px solid #E56142;
  border-right: 2px solid #E56142;
}

.purchasePrice {
  background-color: #E56142;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  margin-right: 2px;
  cursor: pointer;
  border-left: 1px solid #fff;
}

.subscribePrice {
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px;
  color: #E56142;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  margin-right: 2px;
  cursor: pointer;
  border: 1px solid #E56142;
  border-left: 0;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
